@page "/"


<h2 style="font-weight : bold">Choose a number between [0,10000]:</h2>
<input type="number" min="0" max="10000" @bind="number" style="border-radius:10px" />

<div>
	<div style="font : bold">
		<br />

		<h4 style="font-weight : bold">Numbers from zero to @number:</h4>

		@for (var i = 0; i < number; i++)
		{
		
				<text>@i,</text>

		}
		<text>@number.</text>
		<br />
		<h4 style="font-weight : bold">Sum of all numbers from 0 to  @number =  @(number*(number+1)/2) </h4>


	</div>

	

</div>



@code{
	int number = 0;
}
